<!DOCTYPE>
<html>
<head>
<title>TODO LIST</title>
<link rel="stylesheet" href="style.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> -->
 <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->



</head>
<body>
<div class="container">
<form action="/" method="POST" autocomplete="off" >
<div id="myDIV" class="header">
    <h2> <%= kindOfDay %> </h2>
    <h2 class="Title">TODO</h2>
    <input type="text" id="myInput" placeholder="Add Todos....." name="todoValue" required>
    <button type="submit" class="addBtn"> Add Item </button>
  </div>
</form>


<div class="overlay" id="dialog-container">
  
</div>


<ul id="myUL">

     <%# todos.map((item,idx)=> { %>
    
     <%# todos.forEach(function(item) { %>
   
     <% for (item of todos) { %>
   
     <li > 
		  <span> <%= item.title %> </span>	 
 
           <!--  <button class="delete" contenteditable="false" onclick="handleDeleteTodo('<%= item._id %>')">Delete</button>  -->
		 	     
	       <button  class="edit" onclick="handleEditTitle('<%= item._id %>' )" >Edit</button> 
		  
	
		   <!--<button class="delete" onclick="if (confirm('Are you sure want to delete this Todo?')) { -->
           <!--   event.preventDefault -->
           <!--handleDeleteTodo('<%= item._id %>').submit(); -->
           <!-- }else{ -->
           <!--     event.preventDefault(); -->
            <!--   }"> Delete</button> -->
		 
		 
		 
		  <button class="delete" contenteditable="false" onclick="handleDelete('<%= item._id %>')">Delete</button>
	
	
	
		 
		  
		
	    
	  
	 
        </li>
	
        	<!-- if you want to use map or forEach loop then comment out this & comment the uder " } "  %> -->
         <%# }) %>
         <% } %>
  
     </ul>

</div>


<script>
 
 function handleEditTitle(id){
       const lis = document.getElementById('myUL').getElementsByTagName('span');
       window.location.href = "/"+id;
    
       handleUpdateTodo(id)
	    window.location.href = "/"
	   
 }

 function handleDeleteTodo(id) {
       console.log("id:", id ) ;
       console.log("delete clicked")
       fetch(id, {
             method: "DELETE"
      })
      window.location.href = "/"
 
}

  
     function handleDelete(id){
     var overlayme = document.getElementById("dialog-container");
	 overlayme.style.display = "block";
	
	 overlayme.innerHTML  =
	 `   <div class="popup">
            <p> Are you sure want to delete the Todo?? </p>
            <div>
                 <button class="dialog-btn btn-primary" onclick=confirm('${id}')> ok </button>
                 <button class="dialog-btn btn-cancel" onclick=cancel()> cancel </button>
           </div>
        </div> `
	overlayme.style.display = "block";
  
   }
  

function confirm(id) {
    console.log("Called for delete func")
	console.log(id);
     handleDeleteTodo(id)
	var overlayme = document.getElementById("dialog-container");
    overlayme.style.display = "none";
}


function cancel() { 
var overlayme = document.getElementById("dialog-container");
    overlayme.style.display = "none";
}

 
</script>
</body>

</html>